{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="row">
    <br>
    <br>
    <div class="col-12 col-md-6 offset-md-3">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %} <!-- token de seguridad -->
            <table>
                {{ form | crispy }}
            </table>
            <div class="d-flex justify-content-end">
                <input type="reset" class="btn btn-secondary" value="Cancelar">
                &nbsp;
                <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
            </div> 
        </form>
        <h2>{{ msj }}</h2>
        <br>
        <br>
    </div>
</div>


{% endblock %}
{% block js %}

{% endblock %}